.icon {
    position: relative;
    display: inline-block;

    $i: 14;
    $selector: '&_size-';
    @while ($i < 50) {

    '#{$selector}#{$i}' {
        width: _th-rem($i);
        height: _th-rem($i);
    }

        $i: $i + 2;
    }

    &_dark {
        color: #4a4a4a;
        fill: #4a4a4a;
    }

    &_light {
        color: #fefefe;
        fill: #fefefe;
    }
}
