$statusBarHeight: _th-rem(20);

$gBorderRadius: _th-rem(10);
$gBorderRadiusSm: _th-rem(5);

$gBgColor: #fff;
$gTextColor: #4a4a4a;

$gBgInverseColor: $gTextColor;
$gTextInverseColor: $gBgColor;

$gBorderThickness: _th-rem(1);
$gBorderColor: $gTextColor;
$gBorder: $gBorderThickness solid $gBorderColor;

$fastenerHeight: _th-rem(15);

$gOpacity: .85;

$menuHeight: _th-rem(64);
$navigationHeight: _th-rem(66);

$acceptedColor: #ffe12e;
$createdColor: #ffee93;
$completedColor: #adf7b6;
