$gBorderRadius: _th-rem(10);
$gBorderRadiusSm: _th-rem(5);

$gBgColor: #fff;
$gTextColor: #4a4a4a;

$gBgInverseColor: $gTextColor;
$gTextInverseColor: $gBgColor;

$gBorderThickness: _th-rem(2);
$gBorderColor: $gTextColor;
$gBorder: $gBorderThickness solid $gBorderColor;

$fastenerHeight: _th-rem(15);
$gOpacity: .85;
