$heightDifferenceTab: 6px;
$footerHeight: 66px;

.navigation {
  position: fixed;
  margin: 0 auto;
  bottom: -1%;
  right: 0;
  left: 0;
  width: 94%;
  height: $footerHeight;

  &__tabs {
    display: table;
    width: 100%;
    height: 100%;
  }
}

.navigation-item {
  display: block;
  position: relative;
  left: 0;
  margin-top: $heightDifferenceTab;
  border-radius: 10px 10px 0 0;
  border: 2px solid black;
  width: 115%;
  height: 100%;

  &_active {
    top: -$heightDifferenceTab;
    z-index: 5 !important;
  }

  &-wrapper {
    display: table-cell;
  }

  &_challenges {
    background: #ffa777;
    z-index: 4;
    left: 0;
  }

  &_awards {
    background: #ffee93;
    z-index: 3;
    left: -5%;
  }

  &_updates {
    background: #adf7b6;
    z-index: 2;
    left: -10%;
  }

  &_profile {
    background: #a0ced9;
    z-index: 1;
    left: -15%;
  }
}
