.navigation-item {
  $assetsBasePath: './app/features/main/navigation/assets/';
  $heightDiff: _th-rem(6);

  display: flex;
  align-content: center;
  align-items: center;
  margin-top: $heightDiff;
  border-radius: $gBorderRadius $gBorderRadius 0 0;
  border: $gBorder;
  width: 49%;
  height: 100%;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    opacity: $gOpacity;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &_active {
    margin-top: 0;
    &::after {
      opacity: 1;
    }
  }

  &-wrapper {
    display: table-cell;
  }

  &_challenges {
    background: #ffa777;
    &::after {
      background-image: url($assetsBasePath + 'challanges-icon.svg');
    }
  }

  &_awards {
    background: #ffee93;
      display: none;
    &::after {
      background-image: url($assetsBasePath + 'awards-icon.svg');
    }
  }

  &_updates {
    background: #adf7b6;
      display: none;
    &::after {
      background-image: url($assetsBasePath + 'updates-icon.svg');
    }
  }

  &_profile {
    background: #a0ced9;
    &::after {
      background-image: url($assetsBasePath + 'profile-icon.svg');
    }
  }
}


/*

.navigation-item from width: 24%; to width: 49%;

&_awards and &_updates: display: none;
*/
