.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;

    &__item {
        width: 25%;
        display: inline-block;
    }

    &__link {
        text-decoration: none;
        color: #444656;
        width: 100%;
        text-align: center;
        display: inline-block;
        line-height: 52px;
    }

    &__challenges:before {
        content: '\EB40';
    }

    &__awards:before {
        content: '\E838';
    }

    &__updates:before {
        content: '\E7F4';
    }

    &__profile:before {
        content: '\E7FD';
    }
}


