.challenge-details {
    @import "ChallengeVariables";

    position: relative;
    color: map_get($colors, main);

    %border-block {
        padding: $page-padding;
        border-radius: _th-rem(5);
        border: solid _th-rem(1) map_get($colors, main);
        font-size: map_get($font-sizes, default);
        background-color: #fff;

        &-title {
            margin: 0 0 $page-padding;
            text-transform: uppercase;
            font-size: map_get($font-sizes, default);
            line-height: 1;
            color: map_get($colors, title);
        }
    }

    @import './ChallengeNav';
    @import './ChallengeDetails';
    @import './ChallengeComments';
}
