.challenge-details {
    $grid-gap: _th-rem(8);
    $page-padding: _th-rem(15);
    $colors: (
        bg_light: #eee,
        bg_dark: #ddd,
        text_label: #c0c0c0,
        bg_button: #ffee93,
        bg_level: #ffa777,
        main: #4a4a4a
    );
    $font-sizes: (
        default: _th-rem(18),
        header: _th-rem(22)
    );

    position: relative;
    color: map_get($colors, main);

    %border-block {
        padding: $grid-gap;
        border-radius: _th-rem(5);
        border: solid _th-rem(1) map_get($colors, main);
        background-color: #fff;
    }

    @import './ChallengeNav';

    .challenge {

        // Details
        &-header {
            position: relative;
            height: _th-rem(250);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;

            &__title {
                position: absolute;
                bottom: _th-rem(16);
                width: 100%;
                margin: 0;
                text-align: center;
                text-transform: uppercase;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
                font-size: map-get($font-sizes, header);
                color: #ffffff;
            }
        }

        // Info
        &-info {
            $button-width: _th-rem(80);

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 $grid-gap;

            &__inner {
                display: flex;
                flex-wrap: wrap;

                &_big {
                    flex: 1 1 calc(80% - #{$button-width});
                    align-content: space-between;
                }

                &_small {
                    flex: 0 0 $button-width;
                    align-content: flex-start;
                }
            }

            &__item,
            &__button,
            &__description {
                margin-top: $grid-gap;
            }

            &__item {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex: 1 1 calc(35% - #{$grid-gap});
                height: _th-rem(100);
                margin-right: $grid-gap;
                @extend %border-block;

                &_big {
                    flex: 1 1 calc(65% - #{$grid-gap});
                }


                &_created {

                }

                &_description {
                    flex: 1 1 100%;
                    height: auto;
                    margin-right: 0;
                    margin-bottom: 0;
                    padding: $page-padding;
                    font-size: map-get($font-sizes, default);
                    background-color: map-get($colors, bg_light);
                }
            }

            &-category {
                &__name {
                    text-align: center;
                }
            }

            &-completed {
                color: #fff;
                background-color: map_get($colors, main);

                &__count {
                    text-align: center;
                }
            }

            &__button {
                flex: 0 0 100%;
                outline: 0;
                font-size: map-get($font-sizes, default);
                text-align: center;
                color: map-get($colors, main);
                @extend %border-block;
                background-color: map-get($colors, bg_button);
            }

            &-author {

                &__label {
                    font-size: map-get($font-sizes, default);
                    color: map-get($colors, text_label);
                }

                &__name {

                }

                &__rating {
                    position: relative;
                    display: inline-block;
                    width: _th-rem(36);
                    height: _th-rem(36);
                    vertical-align: bottom;

                    &-val {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        vertical-align: bottom;
                        font-size: 0.7rem;
                    }
                }
            }

            &-level,
            &-completed {
                height: auto;
            }

            &-level {
                background-color: map_get($colors, bg_level);

                &__value {
                    font-weight: bold;
                    text-align: center;
                    text-transform: capitalize;
                }
            }

            &-completed {

                &__count,
                &__this-week,
                &__see-more {
                    margin: 0;
                }

                &__count {

                }

                &__this-week {

                }

                &__see-more {
                    margin-top: $grid-gap;
                    text-decoration: underline;
                }
            }


        }

        // Comments
        &-comments {
            margin-top: $grid-gap;

            &__title {
                height: _th-rem(30);
                padding: 0 $page-padding;
                line-height: _th-rem(30);
                background-color: map-get($colors, bg_dark);
                font-size: map-get($font-sizes, default);
                font-weight: bold;
            }

            &__item {
                padding: $page-padding;
                font-size: map-get($font-sizes, default);
            }

            &__author,
            &__comment {
                font-size: 1rem;
                display: block;
            }

            &__author {
                font-weight: bold;
            }

            &__form {
                margin-top: _th-rem(60);
                padding: $page-padding;
            }

            &__input {
                width: 90%;
                height: _th-rem(40);
                line-height: _th-rem(40);
                padding: 0 _th-rem(10);
                border: none;
                outline: none;
                border-radius: _th-rem(5);
                vertical-align: middle;
                background-color: map-get($colors, bg_light);
            }

            &__submit-button {
                float: right;
            }
        }
    }

}
