.challenge-details {
    $grid-gap: _th-rem(15);
    $page-padding: _th-rem(8);
    $colors: (
        bg_light: #eee,
        bg_dark: #ddd,
        text_label: #c0c0c0,
        bg_button: #ffee93,
        bg_level: #ffa777,
        main: #4a4a4a,
        title: #9b9b9b
    );
    $font-sizes: (
        small: _th-rem(12),
        default: _th-rem(14),
        header: _th-rem(24)
    );

    position: relative;
    color: map_get($colors, main);

    %border-block {
        padding: $page-padding;
        border-radius: _th-rem(5);
        border: solid _th-rem(1) map_get($colors, main);
        font-size: map_get($font-sizes, default);
        background-color: #fff;

        &-title {
            margin: 0 0 $page-padding;
            text-transform: uppercase;
            font-size: map_get($font-sizes, default);
            line-height: 1;
            color: map_get($colors, title);
        }
    }

    @import './ChallengeNav';

    .challenge {

        // Details
        &-header {
            position: relative;
            height: _th-rem(250);
            border-bottom: 1px solid map_get($colors, main);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;

            &__title {
                position: absolute;
                bottom: _th-rem(16);
                width: 100%;
                margin: 0;
                text-align: center;
                text-transform: uppercase;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
                font-size: map-get($font-sizes, header);
                color: #ffffff;
            }
        }

        // Info
        &-info {
            $button-width: _th-rem(72);

            display: flex;
            justify-content: space-between;
            padding: 0 $grid-gap;

            &__fasteners {
                position: absolute;
                top: -$grid-gap;
                left: $grid-gap;
                right: $grid-gap;
            }

            &__inner {
                display: flex;
                flex-wrap: wrap;
                height: _th-rem(160);

                &_big {
                    flex: 1 1 calc(100% - #{$button-width});
                    align-content: stretch;
                }

                &_small {
                    flex: 0 0 $button-width;
                    align-content: flex-start;
                }
            }

            &__item,
            &__button_wrapper,
            &__description {
                margin-top: $grid-gap;
            }

            &__item {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1 1 5rem;
                margin-right: $grid-gap;
                @extend %border-block;

                &_big {
                    flex: 1 1 calc(100% - 5rem - (2 * #{$grid-gap}));
                }
            }

            &__label {
                margin: 0;
                font-size: map-get($font-sizes, small);
            }

            &__text {
                font-weight: bold;
            }

            &-category {
                text-align: center;
            }

            &-author {
                padding-bottom: $page-padding;
            }

            &-level {
                text-align: center;
                text-transform: uppercase;
                background-color: map_get($colors, bg_level);
            }

            &-level,
            &-completed {
                height: auto;
            }

            &-completed {
                color: #fff;
                background-color: map_get($colors, main);

                &__count {
                    text-align: center;
                }
            }

            &__button {
                width: 100%;
                height: 100%;
                outline: 0;
                text-align: center;
                color: map-get($colors, main);
                @extend %border-block;
                background-color: map-get($colors, bg_button);

                &_wrapper {
                    position: relative;
                    flex: 0 0 100%;
                    height: calc(50% - #{$grid-gap});
                }
            }

            &-description {
                flex: 1 1 100%;
                height: auto;
                margin: $grid-gap;
                @extend %border-block;

                &__title {
                    @extend %border-block-title;
                }
            }
        }

        // Comments
        &-comments {
            position: relative;
            @extend %border-block;

            &__wrapper {
                padding: 0 $grid-gap $grid-gap;
            }

            &__fasteners {
                position: absolute;
                top: -$grid-gap;
                left: $grid-gap * 2;
                right: $grid-gap * 2;
            }

            &__title {
                @extend %border-block-title;
            }

            &__item {
                padding-bottom: $page-padding;
                font-size: map-get($font-sizes, small);
            }

            &__author,
            &__comment {
                display: block;
            }

            &__author {}

            &-form {
                $input-height: _th-rem(40);

                display: flex;
                margin-top: $grid-gap;

                &__item {
                    flex: 1 0 auto;
                    position: relative;

                    &_submit {
                        flex: 0 0 $input-height;
                        margin-left: $grid-gap;

                        .fastener {
                            position: absolute;
                            top: 50%;
                            left: _th-rem(-11);
                            width: _th-rem(8);
                            transform: rotate(90deg) translateX(-50%);
                        }
                    }
                }

                &__fasteners {
                    position: absolute;
                    top: -$grid-gap;
                    left: $grid-gap * 1.5;
                    right: $grid-gap * 4.5;
                }

                &__input {
                    width: 100%;
                    height: $input-height;
                    line-height: $input-height;
                    @extend %border-block;
                    border-style: dashed;
                }

                &__submit {
                    width: $input-height;
                    height: $input-height;
                    @extend %border-block;
                    background-color: map_get($colors, main);
                }
            }
        }
    }

}
