.add-accept-button {
    height: 100px;
    width: 28%;
    margin-top: 5px;
    background: #dddddd;
    display: block;
    float: right;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    border: none;
    font-size: 18px;
    text-align: center;

    &__icon {
        margin: auto;
        height: 30px;
        width: 30px;
        align-items: center;
        display: block;
    }
}
