$header-bg-color: #DCDCDC;

.challenge-details {
    position: relative;

    .challenge {
        &__header {
            height: 250px;
            background-color: $header-bg-color;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
        }

        &-nav {

            &__item {
                position: absolute;
                top: 10px;

                &_back {
                    left: 20px;
                }

                &_watch {
                    right: 20px;
                }
            }
        }
    }

}


