.challenge-completed-info {
    min-height: 100px;
    max-height: 100px;
    width: 70%;
    background: $challenge-info-block-color;
    margin-top: 5px;
    float: left;
    display: block;
    padding: 10px 10px 10px 15px;
    font-size: 18px;

    &__count-by {
        font-weight: bold;
    }

    &__weeks {
        padding-top: 3px;
    }
    &__more-details {
        padding-top: 5px;
        text-decoration: underline;
        cursor: pointer;
    }
    &__send-comment {
        height: 30px;
        width: 30px;
    }
}
