.challenges {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 52px;
  background-color: white;
  overflow: scroll;

    &__menu {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: transparent;
        z-index: 999;
        padding: 8px 16px;
        font-size: 14px;

        &_active {
            background-color: #F2F2F2;
            z-index: 999;
            position: fixed;
            top: 0;
            width: 100%;
            padding: 8px 16px;
            font-size: 14px;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    &__search {
        background-color: transparent;
        text-align: center;
        width: 100%;
        border: none;
        outline: none;
        line-height: 36px;
        margin: 0;
        padding: 0;
        display: inline-block;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.22);

        &_active {
            color: #9096a2;
        }
    }
}

.challenge {
    position: relative;
    padding-left: calc(72px + 8px);
    padding-right: 8px;
    margin: 16px;
    min-height: 72px;

    &__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 72px;
        bottom: 0;
    }

    &__description {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 4px;
        display: block;
    }

    &__user-block {
        background-color: #D7DBE4;
        color: #444656;
        position: relative;
        display: inline-block;
        height: 20px;
        border-radius: 4px;
        font-size: 11px;
        line-height: 20px;
        font-weight: 900;
        padding-right: 4px;
    }

    &__rating {
        display: inline-block;
        height: 100%;
        padding: 0 4px;
        margin-right: 4px;
        border-right: solid 1px white;
    }

    &__location {
        padding-top: 4px;
        color: #9096a2;
        display: block;
        font-size: 15px;
        line-height: 20px;
    }

    &__icon {
        width: 16px;
        top: 2px;
    }

    &__icon:before {
        content: '\E55F';
    }
}

.topChallenge {
    height: 67%;
    color: white;
    background-color: grey;
    position: relative;
    padding: 0 15px;

    &__caption {
        position: absolute;
        bottom: 0;
        padding-bottom: 15px;
    }

    &__description {
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 8px;
        font-size: 32px;
        line-height: 36px;
        font-weight: 300;
        letter-spacing: 4px;
    }

    &__popular {
        display: inline-block;
        background-color: #0098ff;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 11px;
        line-height: 16px;
        font-weight: 700;
        letter-spacing: 1px;
    }
}
