.challenge-create {

    &__checkbox-title {
        word-break: break-word;
        float: left;
        width: 60%;
        color: $disabled-title-checkbox-color;
        font-size: 17px;
    }

    &__checkbox {
        margin-right: 100px;
        color: $disabled-title-checkbox-color;
        font-family: $checkbox-title-font;
    }

    &__checkbox:checked + &__checkbox-title {
        font-weight: bold;
        font-size: 18px;
        color: $enabled-title-checkbox-color;
    }
}
