$basic-color: #cccccc;
$create-titles-text-color: #fafafa;
$uppercase: uppercase;
$disabled-point-color: #cbcbcb;
$point-font: "Times New Roman";

.challenge-create-basic {
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;

    &__address {
        padding: 10px 0 0 30px;
    }

    &__img-address {
        padding-right: 10px;
        padding-top: 10px;
    }

    &__description-title {
        padding: 10px 0 0 30px;
    }

    &__description {
        margin: 10px 10px 30px 30px;
        width: 90%;
        padding: 5px;
        outline: none;
        background-color: transparent;
        border: none;
    }
}


