
.challenge-create {

    &__description-title {
        padding: 5px 0 0 30px;
        font-weight: bold;
    }

    &__description {
        margin: 0 0 30px 30px;
        width: 90%;
        padding: 5px;
        outline: 0;
        background-color: transparent;
        border: 0;
    }
}

hr {
    width: 85%;
    color: $create-blocks-title-color;
}

