$create-header-title-color: #f6f6f6;
$create-header-color: #666666;
$create-header-button: #c5c5c5;
$create-header-button-font: "Times New Roman";
$create-header-button-size: 18px;

.challenge-create-header {
    margin-left: auto;
    margin-right: auto;
    background: $create-header-color;
    height: 70px;
    text-align: center;

    &__title {
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        padding: 5px 10px 5px 10px;
        font-size: 20px;
        color: $create-header-title-color;
        float: inherit;
        font-family: serif;
}

    &__discard {
        overflow: hidden;
        position: relative;
        height: 20px;
        width: 70px;
        left: 10px;
        top: 5px;
        float: left;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        border: none;
        text-align: left;
        color: $create-header-button;
        font-family: $create-header-button-font;
        font-size: $create-header-button-size;
    }

    &__post {
        overflow: hidden;
        position: relative;
        height: 20px;
        width: 50px;
        right: 10px;
        top: 5px;
        float: right;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        border: none;
        text-align: right;
        color: $create-header-button;
        font-family: $create-header-button-font;
        font-size: $create-header-button-size;
    }
}
