.login-screen {
  $assetsBasePath: './app/features/auth/components/assets/';

  &-wrap {
    padding: _th-rem(38) _th-rem(14);
    height: 100vh;
  }

  display: flex;
  flex-direction: column;

  height: 100%;
  border: $gBorder;
  border-radius: $gBorderRadius;
  background-color: $gBgColor;
  align-items: center;

  &__name {
    margin-top: _th-rem(40);
    margin-bottom: 0;
    font-size: _th-rem(24);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: _th-rem(1);
  }

  &__title {
    margin-bottom: 0;
    padding: 0 _th-rem(22);
    font-size: _th-rem(18);
    font-weight: normal;
    line-height: _th-rem(20);
    text-align: center;

    &_top {
      margin-top: _th-rem(22);
    }

    &_bottom {
      margin-top: _th-rem(51);
    }
  }

  &__logo {
    margin-top: _th-rem(56);
    content: url($assetsBasePath + 'logo.svg');
  }

  &__skip {
    display: block;
    margin-top: _th-rem(30);
    font-size: _th-rem(14);
    text-align: center;
    cursor: pointer;
  }
}
