language: android
sudo: true
git:
  depth: 5
addons:
  sauce_connect: true
android:
  components:
    - tools
    - build-tools-23.0.2
    - android-23
before_script:
  - cp .env.release .env
  - nvm install $(< .nvmrc)
  - npm install
script:
  - npm run build
  - npm run cordova:build android --release
  - npm run test:ci
branches:
  only:
    - demo/\#1
    - master
deploy:
  - provider: heroku
    skip_cleanup: true
    api_key:
        secure: iGMpfoFCBzSKKpDCOHQEjm/PFRbnIV81M0q7/i95xg32xsMGcsBfYH0QXeNk0b1UTsBoZ6r+CWX38F214/YHMrI4bT//3wxrQ7S0AjGJbdPcgGrEwrjofbI1/AqrCmd96PuqxHspoqlkMnugzm7JdIINbkklL5XJJK5A9rGQoOh7N3Y3VEcNOwHrOeI4BeGgVo7ZVqiKgWFeLs5r9/CGdtNeWYBcq0HGh8UssdBVX8VVzhSUDaXzbtLq0aWd/1v9WnRZ9wovinGaey2YmE8WWW/NY+oqFxxPrJXUPy+UnQGA26Z/DQDrUnuO4uEtVTN8x6AI7yC2azvaNBnNfBZjMk72GuAUPYDxvHBjXpXxdTI1jpfoXWcEFepsR1U0X7MKcecfMMMhIMlqfvvkybHjpyP1ucM3TOhWIn6obyf9Ll0oPCE4zRR/OxcYifSpO1WP9zoUbkiGczcBQGIq4QFjD37qwYCXvXkehawB3PLErlPojJsRwHE1DJxAHV9DIHxSQ1A2d7W0LNu6Jz94z5YidMuytw3XDxZwYJZWO6zqm9R0UUxXm+uTQXCEgRgcNjFUdDJVR1D56zkhZi/2XcYfO1aXQhkcicIJkpTew/luNMBy8X5+9gIhbuoQbTDPxA/mHeyrJ3hj5LPzSY0rbShArfTJYpgyN7uvu1ZZ/tuwCOo=
  - provider: releases
    api_key: "4870c604a46f39f1ff38069cfe8cc839e6af3d07"
    file: "./platforms/android/build/outputs/apk/android.apk"
    skip_cleanup: true
    on:
      tags: true
after_deploy:
  - npm run test:e2e
cache:
  directories:
    - node_modules
