$create-blocks-title-color: #cccccc;
$create-titles-text-color: #fafafa;
$uppercase: uppercase;
$disabled-point-color: #cbcbcb;
$checkbox-title-font: "Times New Roman";
$create-header-title-color: #f6f6f6;
$create-header-color: #666666;
$create-header-button: #c5c5c5;
$create-header-button-font: "Times New Roman";
$create-header-button-size: 18px;
$photo-download-color: #adadad;

@import './checkboxes';
@import './create-basic';
@import './create-blocks';
@import './create-header';
@import './create-main';
