.main-screen {
  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  &__navigation {
    position: fixed;
    z-index: 1;
    bottom: -1%;
    right: 0;
    left: 0;
    height: $navigationHeight;
    padding: 0 _th-rem(20);
  }
}