.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;

  &__item {
    width: 25%;
    display: inline-block;

    a {
      text-decoration: none;
      color: #444656;
      width: 100%;
      text-align: center;
      display: inline-block;
      line-height: 52px;
    }
  }
}

.icon{
  position:relative;
  display:inline-block;
  text-align:center;
  font-family:'Material Icons';
  font-size:24px;
}
