@import '../sprite.scss';

.navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;

    &__link {
        width: 25%;

        text-decoration: none;
        color: rgb(216,216,216);
        text-align: center;
        font-size: 12px;
        background-color: rgb(74, 74, 74);
        padding: 10px 0;
        display: inline-block;
        border-right: 1px solid rgb(155, 155, 155);

        &:last {
            border-right: 0 none;
        }

        &--active {
            background-color: rgb(155, 155, 155);

            p {
                color: #2B2B2B;
            }
        }

        p {
            margin: 0;
        }
    }

    &__challenges:before {
        @extend .sprite-challenges
    }

    &__awards:before {
        @extend .sprite-awards
    }

    &__updates:before {
        @extend .sprite-updates
    }

    &__profile:before {
        @extend .sprite-profile
    }
}


