@import '../../node_modules/normalize.css/normalize.css';
@import 'app/features/todo/todo-screen';
@import 'app/features/login/login-screen';
@import './app/features/navigation/navigation';
@import 'app/features/challenges/components/index';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.icon {
    position: relative;
    display: inline-block;
    font-size: inherit;
    text-align: center;
    font-family: 'Material Icons';
}
