.login-screen {
  margin-left: auto;
  margin-right: auto;
  background: #DCDCDC;
  height: 100vh;

  &__logo {
    padding-top: 60px;
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    color: #555050;
    font-weight: 900
  }

  &__slogan {
    text-transform: uppercase;
    text-align: center;
    color: #555050;
    font-size: 20px;
  }
}

.login-screen-actions {
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  padding-top: 60px;


  &__header {
    text-transform: uppercase;
    color: #F5FFFA;
    font-size: 18px;
    text-align: center;
  }

  &__providers {
    padding-top: 10px;
  }

  &__skip {
    display: block;
    margin-top: 35px;
    color: #F5FFFA;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
}

.login-button {
  display: block;
  margin-top: 10px;
  width: 100%;
  border-radius: 18px;
  padding: 18px 10px;
  color: #696969;
  background: #F5FFFA;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  border: none;
}
