.challenge-screen {
  &__content {
    position: absolute;
    top: $menuHeight;
    left: 0;
    width: 100%;
    padding: 0 _th-rem(9);
    padding-bottom: $navigationHeight - $fastenerHeight;
  }
}
