.icon-button {
    display: inline-block;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: middle;
    background: transparent;

    .icon {
        display: block;
        margin: auto;
    }
}
